.formField {
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    outline: 1px solid #aeadad;
    border: none;
    font-size: 1.1rem;
    display: block;
    width: 100%;
    flex: 1 1 0;
}

.formLabel {
    font-weight: bold;
    font-size: 1.2rem;
}

.birthdayGroup {
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.birthdayForm {
    flex-direction: column;
    display: flex;
    gap: 10px;
}

@media (min-width: 48rem) {
    .birthdayForm {
        flex-direction: row;
    }
}