.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 40px;
    justify-self: center;
    align-self: center;
}

@media (min-width: 48rem) {
    .container {
        width: 80%;
        display: flex;
    }
}



