.header {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input {
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 10px;
    background: #ededed;
}

.contentInner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 15px;
}

@media screen and (min-width: 48rem) {
    .contentInner {
        grid-template-columns: 1fr 1fr;
    }

    .header {
        flex-direction: row;
    }

    .input {
        margin-left: auto;
    }
}