.gridFriends {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    gap: 15px;
}


@media (max-width: 250px) {
    .gridFriends {
        grid-template-columns: 1fr;
    }
}